# Q1

In [7]:
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

# Q2

In [11]:
import sys
sys.version

'3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]'

# Q3

In [21]:
from datetime import datetime 
x = datetime.now()
print(x.strftime("Current Time:  %I:%M:%S\nCurrent Date: %B %dth,%Y"))

Current Time:  12:24:21
Current Date: October 24th,2021

# Q4

In [23]:
import math
radius = int(input("Enter radius value: "))
area = math.pi* radius**2
print("Area of circle: ",area)

Enter radius value: 12
Area of circle:  452.3893421169302

# Q5

In [27]:
frst_name = str(input("Enter first name: "))
lst_name = str(input("Enter last name: "))
print("Reverse Order: ",lst_name +" "+ frst_name)

Enter first name: Syeda
Enter last name: Zainab
Reverse Order:  Zainab Syeda

# Q6

In [29]:
frst = int(input("Enter first number: "))
scnd = int(input("Enter second number: "))
add = frst + scnd
print("Addition: ",add)

Enter first number: 12
Enter second number: 3
Addition:  15

# Q7

In [34]:
English = int(input("Enter English number: "))
Islamiat = int(input("Enter Islamiat number: "))
Maths = int(input("Enter Maths number: "))
Urdu = int(input("Enter Urdu number: "))
Sci = int(input("Enter Science number: "))
Total_Marks = 300
Percentage = ((English + Islamiat + Maths) / Total_Marks * 100)
print("============================ SYEDA MARKSHEET ====================================")
print("Percentage: ", Percentage,"%")
if Percentage <= 100 and Percentage > 80:
    print("Grade: A+")
elif Percentage <= 80 and Percentage > 70:
    print("Grade: A")
elif Percentage <= 70 and Percentage > 60:
    print("Grade: B")
elif Percentage <= 60 and Percentage > 50:
    print("Grade: C")
elif Percentage <= 50 and Percentage > 40:
    print("Grade: D")
elif Percentage <= 40 and Percentage > 30:
    print("Grade: E")
else:
    print("Fail")

Enter English number: 67
Enter Islamiat number: 76
Enter Maths number: 87
Enter Urdu number: 59
Enter Science number: 90
============================ SYEDA MARKSHEET ====================================
Percentage:  76.66666666666667 %
Grade: A

# Q8

In [39]:
a = int(input("Enter number: "))
if a%2 == 0 :
    print("Even Number.")
elif a%3 != 0:
    print("Odd Number.")
else:
    print("Nothing")

Enter number: 10
Even Number.

# Q9

In [44]:
x = {"Ali",23,"Apple","Pakistan",0}
print("Length of List:",len(x))

Length of List: 5

# Q10

In [7]:
x = {2,23,10,1,5}
a = sum(x)
print(a)

41

# Q11

In [2]:
x = {23,5,10}
print("Largest number is: ",max(x))

Largest number is:  23

# Q12

In [5]:
print("These numbers are less than 5:")
a = {1,1,2,3,5,8,13,21,34,55,89}
for x in a:
    if x < 5:
        print(x)

These numbers are less than 5:
1
2
3